/* Estilos generales */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, rgb(52, 127, 211), rgb(32, 93, 163));
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    flex: 1;
}

/* Spinner */
.cargador {
    border: 2px solid transparent;
    border-radius: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.50);
    width: 30px;
    height: 30px;
    animation: girar 0.5s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
a{
    text-decoration: none;
}

/* Barra de navegaci칩n */
.barra-navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.75rem;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    background: transparent;

    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 400px;
}

@keyframes blur {
    to {
        box-shadow:
            0px 5px 50px -5px rgba(49, 120, 201, 0.1),
            0px 0px 0 1px rgba(49, 120, 201, 0.1);
        background-color: rgba(49, 120, 201, 0.3);
        backdrop-filter: blur(10px);
    }
}

.boton-navegacion {
    width: fit-content;
    height: 3rem;
    min-width: 6rem;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: system-ui;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 0%, 0.7);
    border: 2px solid hsl(0, 0%, 100%);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    transition: background-color 0.2s ease-in, color 0.2s ease-in, scale 0.1s ease-in;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.boton-navegacion:hover {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 0%);
}

.boton-navegacion:active {
    background-color: hsla(0, 0%, 100%, 1);
    scale: 0.95;
}

.filtro-seleccionado {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

/* Estilos del header y contenedor y footer */
.tier-header,
.tier-contenedor,
.tier-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}

.tier-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 10px;
}

.tier-footer {
    box-sizing: border-box;
    /* Ajustar tama침o al contenido */
    width: 100%;
    max-width: 1427px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsla(220, 100%, 12%, 0.5);
}

/* Filtros de rol */
.filtro-navegacion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .filtro-navegacion {
        grid-template-columns: repeat(2, 1fr);
    }
}

.filtro-navegacion button {
    padding: 5px;
    font-size: 1rem;
    width: 7rem;
    height: 2rem;
    flex: 1 1 1 calc(25% - 1rem);
    /* Cada bot칩n ocupa un 25% del ancho con un peque침o margen */
    background-color: hsla(0, 0%, 100%, 0.6);
    color: hsla(0, 0%, 0%, 0.7);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.filtro-navegacion button:hover {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 0%);
}

.filtro-navegacion button:active {
    scale: 0.95;
}

.filtro-t-selected {
    background-color: #f06414 !important;
    border: 2px solid #f06414 !important;
    color: hsl(0, 0%, 100%) !important;
    font-weight: bold;
}

/* Estilos de la tierlist */
.tierlist {
    box-sizing: border-box;
    width: 100%;
    max-width: 1427px;
    border-radius: 5px;
    background-color: hsla(220, 100%, 12%, 0.5);
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 11fr minmax(50px, 1fr);
    padding: 1%;
}

.tier_row_head,
.tier_row_content {
    background-color: hsla(0, 0%, 0%, 0.5);
    border-bottom: 10px solid hsl(226, 31%, 47%);
    min-height: 90px;
}

.tier_row_head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
}

.tier_row_content {
    display: flex;
    flex-wrap: wrap;
}

.tier_row_control {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-left: 10px solid hsl(226, 31%, 47%);
}

.tier_row_control button {
    color: white;
    background-color: transparent;
    border: none;
}

.tier_row_control button:hover {
    color: #f06414;
}

.tier_row_control button:active {
    scale: 0.95;
}

.imagen_heroe {
    box-sizing: border-box;
    width: auto;
    max-height: 90px;
    border-radius: 5px;
    cursor: grab;
    transition: scale 0.1s ease-in,
        border 0.1 ease-in;
}

.imagen_heroe:hover {
    scale: 1.05;
    border: 2px solid hsl(0, 0%, 100%);
}

.btn_guardar {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.6);
    color: hsla(0, 0%, 0%, 0.7);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.btn_guardar:hover {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 0%);
}

.btn_guardar:active {
    background-color: hsla(0, 0%, 100%, 1);
    scale: 0.95;
}

/* Estilos del modal */
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 25, 44, 0.75);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-aux {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    max-width: 100px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}